Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
Pygments==1.6
Sphinx==1.2.3
argh==0.26.0
certifi==14.05.14
docutils==0.12
enum34==1.0.3
inflection==0.2.1
livereload==2.3.0
pathtools==0.1.2
py==1.4.26
pytest==2.6.4
requests==2.4.3
sphinx-autobuild==0.3.0
tornado==4.0.2
watchdog==0.8.2
